<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.spring.boot.logger.mapper.TYouyouUserMapper">
  <resultMap id="BaseResultMap" type="com.test.spring.boot.logger.entity.TYouyouUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="Aid" jdbcType="INTEGER" property="aid" />
    <result column="Aphone" jdbcType="VARCHAR" property="aphone" />
    <result column="Aopen_id" jdbcType="VARCHAR" property="aopenId" />
    <result column="Aname" jdbcType="VARCHAR" property="aname" />
    <result column="Aname_url" jdbcType="VARCHAR" property="anameUrl" />
    <result column="Asex" jdbcType="VARCHAR" property="asex" />
    <result column="Acity" jdbcType="VARCHAR" property="acity" />
    <result column="Aemail" jdbcType="VARCHAR" property="aemail" />
    <result column="Aop_id" jdbcType="INTEGER" property="aopId" />
    <result column="Asource" jdbcType="INTEGER" property="asource" />
    <result column="Acreator" jdbcType="VARCHAR" property="acreator" />
    <result column="Acreate_time" jdbcType="TIMESTAMP" property="acreateTime" />
    <result column="Amodifier" jdbcType="VARCHAR" property="amodifier" />
    <result column="Amodify_time" jdbcType="TIMESTAMP" property="amodifyTime" />
    <result column="Aversion" jdbcType="INTEGER" property="aversion" />
  </resultMap>
</mapper>